<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8"> 

<title>石兆阳</title> 

<style>

body

{

	margin-left:200px;	background:#5d9ab2 url('https://static.runoob.com/images/mix/img_tree.png') no-repeat top left;

}

.container

{

	text-align:center;

}

.center_div

{

	border:1px solid gray;

	margin-left:auto;

	margin-right:auto;

	width:90%;

	background-color:#d0f0f6;

	text-align:left;

	padding:8px;

}

</style>

</head>

<body>

<div class="center_div">

  <div id="poem">

          入若耶溪<br/><br/>

          艅艎何泛泛，空水共悠悠。<br/>

          阴霞生远岫，阳景逐回流。<br/>

          蝉噪林逾静，鸟鸣山更幽。<br/>

      此地动归念，长年悲倦游。<br/>

</div>

</div>

</body>

</html>
